node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
/.bun-install
/.bun-tmp
/.opencode
/.vscode
/SKILLS
# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
